static/exports/qr-based-restaurant-management-system-api-wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:schemas="https://restaurant-api-i70b.onrender.com/api/schemas" xmlns:wsdl="https://restaurant-api-i70b.onrender.com/api/wsdl" targetNamespace="https://restaurant-api-i70b.onrender.com/api/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="https://restaurant-api-i70b.onrender.com/api/schemas" targetNamespace="https://restaurant-api-i70b.onrender.com/api/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GET_listMenuItems_InputMessage" type="schemas:GET_listMenuItems_InputMessage" />
      <xs:element name="GET_listMenuItems_OutputMessage" type="schemas:GET_listMenuItems_OutputMessage" />
      <xs:element name="GET_listMenuItems_500" type="schemas:GET_listMenuItems_500" />
      <xs:element name="POST_placeOrder_InputMessage" type="schemas:POST_placeOrder_InputMessage" />
      <xs:element name="POST_placeOrder_OutputMessage" type="schemas:POST_placeOrder_OutputMessage" />
      <xs:element name="POST_placeOrder_400" type="schemas:POST_placeOrder_400" />
      <xs:element name="POST_placeOrder_401" type="schemas:POST_placeOrder_401" />
      <xs:element name="POST_placeOrder_500" type="schemas:POST_placeOrder_500" />
      <xs:element name="GET_getOrderHistory_InputMessage" type="schemas:GET_getOrderHistory_InputMessage" />
      <xs:element name="GET_getOrderHistory_OutputMessage" type="schemas:GET_getOrderHistory_OutputMessage" />
      <xs:element name="GET_getOrderHistory_401" type="schemas:GET_getOrderHistory_401" />
      <xs:element name="GET_getOrderHistory_500" type="schemas:GET_getOrderHistory_500" />
      <xs:complexType name="MenuItem">
        <xs:annotation>
          <xs:documentation>A single menu item available for ordering.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="_id" type="xs:string">
            <xs:annotation>
              <xs:documentation>Unique identifier of the menu item</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="name" type="xs:string">
            <xs:annotation>
              <xs:documentation>Display name of the item</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="description" type="xs:string">
            <xs:annotation>
              <xs:documentation>Short description of the item</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="price" type="xs:double">
            <xs:annotation>
              <xs:documentation>Price in minor currency or standard units, depending on system</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="category" type="xs:string">
            <xs:annotation>
              <xs:documentation>Category or section</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="image" type="xs:string">
            <xs:annotation>
              <xs:documentation>Image URL</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" default="true" name="isAvailable" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether the item is currently available</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MenuResponse">
        <xs:annotation>
          <xs:documentation>Response containing a list of menu items.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" default="true" name="success" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Indicates if the request was successful</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="count" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Number of items returned</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="data" type="schemas:MenuItem">
            <xs:annotation>
              <xs:documentation>Menu items</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OrderItem">
        <xs:annotation>
          <xs:documentation>An individual line item within an order.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="menuItem" type="xs:string">
            <xs:annotation>
              <xs:documentation>Menu item ID</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" default="1" name="quantity">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Quantity ordered</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:integer">
                <xs:minInclusive value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CustomerDetails">
        <xs:annotation>
          <xs:documentation>Minimal customer contact and delivery info.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="contact" type="xs:string">
            <xs:annotation>
              <xs:documentation>Customer contact number or identifier</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="address" type="xs:string">
            <xs:annotation>
              <xs:documentation>Delivery address or table location note</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="OrderType">
        <xs:annotation>
          <xs:documentation>How the order will be fulfilled.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="dine-in" />
          <xs:enumeration value="takeaway" />
          <xs:enumeration value="delivery" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="OrderInput">
        <xs:annotation>
          <xs:documentation>Payload used to create a new order.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="items" type="schemas:OrderItem">
            <xs:annotation>
              <xs:documentation>List of items being ordered</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="tableNumber">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Table number for dine-in orders</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:integer">
                <xs:minInclusive value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="totalAmount">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Total amount for the order</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:double">
                <xs:minInclusive value="0" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="orderType" type="schemas:OrderType">
            <xs:annotation>
              <xs:documentation>How the order will be fulfilled.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="customerDetails" type="schemas:CustomerDetails">
            <xs:annotation>
              <xs:documentation>Minimal customer contact and delivery info.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Order">
        <xs:annotation>
          <xs:documentation>An order placed by a customer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="_id" type="xs:string">
            <xs:annotation>
              <xs:documentation>Order ID</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="items" type="schemas:OrderItem">
            <xs:annotation>
              <xs:documentation>List of ordered items</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="tableNumber" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Table number for dine-in</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="totalAmount" type="xs:double">
            <xs:annotation>
              <xs:documentation>Total amount charged</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="orderType" type="schemas:OrderType">
            <xs:annotation>
              <xs:documentation>How the order will be fulfilled.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="customerDetails" type="schemas:CustomerDetails">
            <xs:annotation>
              <xs:documentation>Minimal customer contact and delivery info.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" default="pending" name="status" type="xs:string">
            <xs:annotation>
              <xs:documentation>Current order status</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="createdAt" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>Creation timestamp (ISO 8601)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OrderResponse">
        <xs:annotation>
          <xs:documentation>Response containing a single order.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" default="true" name="success" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Indicates if the request was successful</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="data" type="schemas:Order">
            <xs:annotation>
              <xs:documentation>An order placed by a customer.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OrderHistoryResponse">
        <xs:annotation>
          <xs:documentation>Response containing a list of orders.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" default="true" name="success" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Indicates if the request was successful</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="count" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Number of orders returned</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="data" type="schemas:Order">
            <xs:annotation>
              <xs:documentation>Orders</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ErrorResponse">
        <xs:annotation>
          <xs:documentation>Standard error payload.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" default="false" name="success" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Always false for errors</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="error" type="xs:string">
            <xs:annotation>
              <xs:documentation>Human-readable error message</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_listMenuItems_InputMessage">
        <xs:sequence>
          <xs:any />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_listMenuItems_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:MenuResponse">
            <xs:annotation>
              <xs:documentation>Response containing a list of menu items.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_listMenuItems_500">
        <xs:sequence>
          <xs:element minOccurs="1" name="response500" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Standard error payload.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_placeOrder_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" fixed="application/json" name="Content-Type" type="xs:string" />
          <xs:element minOccurs="1" name="body" type="schemas:OrderInput">
            <xs:annotation>
              <xs:documentation>Order payload including items, table number, and customer details.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_placeOrder_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response201" type="schemas:OrderResponse">
            <xs:annotation>
              <xs:documentation>Response containing a single order.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_placeOrder_400">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Standard error payload.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_placeOrder_401">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Standard error payload.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_placeOrder_500">
        <xs:sequence>
          <xs:element minOccurs="1" name="response500" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Standard error payload.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_getOrderHistory_InputMessage">
        <xs:sequence>
          <xs:any />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_getOrderHistory_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:OrderHistoryResponse">
            <xs:annotation>
              <xs:documentation>Response containing a list of orders.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_getOrderHistory_401">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Standard error payload.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_getOrderHistory_500">
        <xs:sequence>
          <xs:element minOccurs="1" name="response500" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Standard error payload.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="GET_listMenuItems_InputMessage">
    <part name="GET_listMenuItems_InputMessage" element="schemas:GET_listMenuItems_InputMessage" />
  </message>
  <message name="GET_listMenuItems_OutputMessage">
    <part name="GET_listMenuItems_OutputMessage" element="schemas:GET_listMenuItems_OutputMessage" />
  </message>
  <message name="GET_listMenuItems_500">
    <part name="GET_listMenuItems_500" element="schemas:GET_listMenuItems_500" />
  </message>
  <message name="POST_placeOrder_InputMessage">
    <part name="POST_placeOrder_InputMessage" element="schemas:POST_placeOrder_InputMessage" />
  </message>
  <message name="POST_placeOrder_OutputMessage">
    <part name="POST_placeOrder_OutputMessage" element="schemas:POST_placeOrder_OutputMessage" />
  </message>
  <message name="POST_placeOrder_400">
    <part name="POST_placeOrder_400" element="schemas:POST_placeOrder_400" />
  </message>
  <message name="POST_placeOrder_401">
    <part name="POST_placeOrder_401" element="schemas:POST_placeOrder_401" />
  </message>
  <message name="POST_placeOrder_500">
    <part name="POST_placeOrder_500" element="schemas:POST_placeOrder_500" />
  </message>
  <message name="GET_getOrderHistory_InputMessage">
    <part name="GET_getOrderHistory_InputMessage" element="schemas:GET_getOrderHistory_InputMessage" />
  </message>
  <message name="GET_getOrderHistory_OutputMessage">
    <part name="GET_getOrderHistory_OutputMessage" element="schemas:GET_getOrderHistory_OutputMessage" />
  </message>
  <message name="GET_getOrderHistory_401">
    <part name="GET_getOrderHistory_401" element="schemas:GET_getOrderHistory_401" />
  </message>
  <message name="GET_getOrderHistory_500">
    <part name="GET_getOrderHistory_500" element="schemas:GET_getOrderHistory_500" />
  </message>
  <portType name="QR-Based_x0020_Restaurant_x0020_Management_x0020_System_x0020_API_PortType">
    <operation name="GET_listMenuItems">
      <documentation>Returns the full list of menu items currently available for ordering.</documentation>
      <input message="wsdl:GET_listMenuItems_InputMessage" />
      <output message="wsdl:GET_listMenuItems_OutputMessage">
        <documentation>List of menu items</documentation>
      </output>
      <fault name="GET_listMenuItems_500" message="wsdl:GET_listMenuItems_500">
        <documentation>Server error</documentation>
      </fault>
    </operation>
    <operation name="POST_placeOrder">
      <documentation>Creates an order for the specified items and table.</documentation>
      <input message="wsdl:POST_placeOrder_InputMessage" />
      <output message="wsdl:POST_placeOrder_OutputMessage">
        <documentation>Order placed successfully</documentation>
      </output>
      <fault name="POST_placeOrder_400" message="wsdl:POST_placeOrder_400">
        <documentation>Invalid request</documentation>
      </fault>
      <fault name="POST_placeOrder_401" message="wsdl:POST_placeOrder_401">
        <documentation>Unauthorized</documentation>
      </fault>
      <fault name="POST_placeOrder_500" message="wsdl:POST_placeOrder_500">
        <documentation>Server error</documentation>
      </fault>
    </operation>
    <operation name="GET_getOrderHistory">
      <documentation>Returns the authenticated user's recent orders.</documentation>
      <input message="wsdl:GET_getOrderHistory_InputMessage" />
      <output message="wsdl:GET_getOrderHistory_OutputMessage">
        <documentation>List of previous orders</documentation>
      </output>
      <fault name="GET_getOrderHistory_401" message="wsdl:GET_getOrderHistory_401">
        <documentation>Unauthorized</documentation>
      </fault>
      <fault name="GET_getOrderHistory_500" message="wsdl:GET_getOrderHistory_500">
        <documentation>Server error</documentation>
      </fault>
    </operation>
  </portType>
  <binding name="QR-Based_x0020_Restaurant_x0020_Management_x0020_System_x0020_API_Binding" type="wsdl:QR-Based_x0020_Restaurant_x0020_Management_x0020_System_x0020_API_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="GET_listMenuItems">
      <soap:operation soapAction="GET_listMenuItems" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="GET_listMenuItems_500">
        <soap:fault use="literal" name="GET_listMenuItems_500" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="POST_placeOrder">
      <soap:operation soapAction="POST_placeOrder" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="POST_placeOrder_400">
        <soap:fault use="literal" name="POST_placeOrder_400" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="POST_placeOrder_401">
        <soap:fault use="literal" name="POST_placeOrder_401" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="POST_placeOrder_500">
        <soap:fault use="literal" name="POST_placeOrder_500" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="GET_getOrderHistory">
      <soap:operation soapAction="GET_getOrderHistory" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="GET_getOrderHistory_401">
        <soap:fault use="literal" name="GET_getOrderHistory_401" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="GET_getOrderHistory_500">
        <soap:fault use="literal" name="GET_getOrderHistory_500" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
  </binding>
  <service name="QR-Based_x0020_Restaurant_x0020_Management_x0020_System_x0020_API">
    <documentation>API for browsing menu items and placing orders in a QR-based restaurant system.</documentation>
    <port name="default_Port" binding="wsdl:QR-Based_x0020_Restaurant_x0020_Management_x0020_System_x0020_API_Binding">
      <soap:address location="https://restaurant-api-i70b.onrender.com/api" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>