static/exports/qr-based-restaurant-management-system-api-wadl2009.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:schemas="https://restaurant-api-i70b.onrender.com/api/schemas" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="QR-Based Restaurant Management System API" xml:lang="en">API for browsing menu items and placing orders in a QR-based restaurant system.</doc>
  <grammars>
    <xs:schema xmlns:tns="https://restaurant-api-i70b.onrender.com/api/schemas" targetNamespace="https://restaurant-api-i70b.onrender.com/api/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="MenuItem" type="schemas:MenuItem" />
      <xs:element name="MenuResponse" type="schemas:MenuResponse" />
      <xs:element name="OrderItem" type="schemas:OrderItem" />
      <xs:element name="CustomerDetails" type="schemas:CustomerDetails" />
      <xs:element name="OrderType" type="schemas:OrderType" />
      <xs:element name="OrderInput" type="schemas:OrderInput" />
      <xs:element name="Order" type="schemas:Order" />
      <xs:element name="OrderResponse" type="schemas:OrderResponse" />
      <xs:element name="OrderHistoryResponse" type="schemas:OrderHistoryResponse" />
      <xs:element name="ErrorResponse" type="schemas:ErrorResponse" />
      <xs:element name="listMenuItems200_Response0" type="schemas:listMenuItems200_Response0" />
      <xs:element name="listMenuItems500_Response0" type="schemas:listMenuItems500_Response0" />
      <xs:element name="placeOrder_Request" type="schemas:placeOrder_Request" />
      <xs:element name="placeOrder201_Response0" type="schemas:placeOrder201_Response0" />
      <xs:element name="placeOrder400_Response0" type="schemas:placeOrder400_Response0" />
      <xs:element name="placeOrder401_Response0" type="schemas:placeOrder401_Response0" />
      <xs:element name="placeOrder500_Response0" type="schemas:placeOrder500_Response0" />
      <xs:element name="getOrderHistory200_Response0" type="schemas:getOrderHistory200_Response0" />
      <xs:element name="getOrderHistory401_Response0" type="schemas:getOrderHistory401_Response0" />
      <xs:element name="getOrderHistory500_Response0" type="schemas:getOrderHistory500_Response0" />
      <xs:complexType name="MenuItem">
        <xs:annotation>
          <xs:documentation>A single menu item available for ordering.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="_id" type="xs:string">
            <xs:annotation>
              <xs:documentation>Unique identifier of the menu item</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="name" type="xs:string">
            <xs:annotation>
              <xs:documentation>Display name of the item</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="description" type="xs:string">
            <xs:annotation>
              <xs:documentation>Short description of the item</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="price" type="xs:double">
            <xs:annotation>
              <xs:documentation>Price in minor currency or standard units, depending on system</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="category" type="xs:string">
            <xs:annotation>
              <xs:documentation>Category or section</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="image" type="xs:string">
            <xs:annotation>
              <xs:documentation>Image URL</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" default="true" name="isAvailable" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether the item is currently available</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MenuResponse">
        <xs:annotation>
          <xs:documentation>Response containing a list of menu items.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" default="true" name="success" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Indicates if the request was successful</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="count" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Number of items returned</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="data" type="schemas:MenuItem">
            <xs:annotation>
              <xs:documentation>Menu items</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OrderItem">
        <xs:annotation>
          <xs:documentation>An individual line item within an order.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="menuItem" type="xs:string">
            <xs:annotation>
              <xs:documentation>Menu item ID</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" default="1" name="quantity">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Quantity ordered</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:integer">
                <xs:minInclusive value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CustomerDetails">
        <xs:annotation>
          <xs:documentation>Minimal customer contact and delivery info.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="contact" type="xs:string">
            <xs:annotation>
              <xs:documentation>Customer contact number or identifier</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="address" type="xs:string">
            <xs:annotation>
              <xs:documentation>Delivery address or table location note</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="OrderType">
        <xs:annotation>
          <xs:documentation>How the order will be fulfilled.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="dine-in" />
          <xs:enumeration value="takeaway" />
          <xs:enumeration value="delivery" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="OrderInput">
        <xs:annotation>
          <xs:documentation>Payload used to create a new order.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="items" type="schemas:OrderItem">
            <xs:annotation>
              <xs:documentation>List of items being ordered</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="tableNumber">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Table number for dine-in orders</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:integer">
                <xs:minInclusive value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="totalAmount">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Total amount for the order</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:double">
                <xs:minInclusive value="0" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="orderType" type="schemas:OrderType">
            <xs:annotation>
              <xs:documentation>How the order will be fulfilled.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="customerDetails" type="schemas:CustomerDetails">
            <xs:annotation>
              <xs:documentation>Minimal customer contact and delivery info.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Order">
        <xs:annotation>
          <xs:documentation>An order placed by a customer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="_id" type="xs:string">
            <xs:annotation>
              <xs:documentation>Order ID</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="items" type="schemas:OrderItem">
            <xs:annotation>
              <xs:documentation>List of ordered items</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="tableNumber" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Table number for dine-in</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="totalAmount" type="xs:double">
            <xs:annotation>
              <xs:documentation>Total amount charged</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="orderType" type="schemas:OrderType">
            <xs:annotation>
              <xs:documentation>How the order will be fulfilled.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="customerDetails" type="schemas:CustomerDetails">
            <xs:annotation>
              <xs:documentation>Minimal customer contact and delivery info.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" default="pending" name="status" type="xs:string">
            <xs:annotation>
              <xs:documentation>Current order status</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="createdAt" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>Creation timestamp (ISO 8601)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OrderResponse">
        <xs:annotation>
          <xs:documentation>Response containing a single order.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" default="true" name="success" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Indicates if the request was successful</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="data" type="schemas:Order">
            <xs:annotation>
              <xs:documentation>An order placed by a customer.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OrderHistoryResponse">
        <xs:annotation>
          <xs:documentation>Response containing a list of orders.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" default="true" name="success" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Indicates if the request was successful</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="count" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Number of orders returned</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="data" type="schemas:Order">
            <xs:annotation>
              <xs:documentation>Orders</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ErrorResponse">
        <xs:annotation>
          <xs:documentation>Standard error payload.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" default="false" name="success" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Always false for errors</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="error" type="xs:string">
            <xs:annotation>
              <xs:documentation>Human-readable error message</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listMenuItems200_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:MenuResponse">
            <xs:annotation>
              <xs:documentation>Response containing a list of menu items.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listMenuItems500_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response500" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Standard error payload.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="placeOrder_Request">
        <xs:sequence>
          <xs:element minOccurs="1" name="body" type="schemas:OrderInput">
            <xs:annotation>
              <xs:documentation>Order payload including items, table number, and customer details.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="placeOrder201_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response201" type="schemas:OrderResponse">
            <xs:annotation>
              <xs:documentation>Response containing a single order.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="placeOrder400_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Standard error payload.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="placeOrder401_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Standard error payload.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="placeOrder500_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response500" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Standard error payload.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getOrderHistory200_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:OrderHistoryResponse">
            <xs:annotation>
              <xs:documentation>Response containing a list of orders.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getOrderHistory401_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Standard error payload.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getOrderHistory500_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response500" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Standard error payload.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </grammars>
  <resources base="https://restaurant-api-i70b.onrender.com/api">
    <resource id="_menu" path="/menu">
      <method id="listMenuItems" name="GET">
        <doc title="listMenuItems" xml:lang="en">Returns the full list of menu items currently available for ordering.</doc>
        <request />
        <response status="200">
          <doc title="200" xml:lang="en">List of menu items</doc>
          <representation element="schemas:listMenuItems200_Response0" mediaType="application/json" />
        </response>
        <response status="500">
          <doc title="500" xml:lang="en">Server error</doc>
          <representation element="schemas:listMenuItems500_Response0" mediaType="application/json" />
        </response>
      </method>
    </resource>
    <resource id="_orderplace-order" path="/order/place-order">
      <method id="placeOrder" name="POST">
        <doc title="placeOrder" xml:lang="en">Creates an order for the specified items and table.</doc>
        <request>
          <param name="Content-Type" style="header" type="xsd:string" default="application/json" required="true" fixed="application/json">
            <doc title="Content-Type" xml:lang="en" />
          </param>
          <representation element="schemas:placeOrder_Request" mediaType="application/json" />
        </request>
        <response status="201">
          <doc title="201" xml:lang="en">Order placed successfully</doc>
          <param name="Location" style="plain" type="xsd:string" required="true">
            <doc title="Location" xml:lang="en">URL of the created order resource</doc>
          </param>
          <representation element="schemas:placeOrder201_Response0" mediaType="application/json" />
        </response>
        <response status="400">
          <doc title="400" xml:lang="en">Invalid request</doc>
          <representation element="schemas:placeOrder400_Response0" mediaType="application/json" />
        </response>
        <response status="401">
          <doc title="401" xml:lang="en">Unauthorized</doc>
          <representation element="schemas:placeOrder401_Response0" mediaType="application/json" />
        </response>
        <response status="500">
          <doc title="500" xml:lang="en">Server error</doc>
          <representation element="schemas:placeOrder500_Response0" mediaType="application/json" />
        </response>
      </method>
    </resource>
    <resource id="_orderhistory" path="/order/history">
      <method id="getOrderHistory" name="GET">
        <doc title="getOrderHistory" xml:lang="en">Returns the authenticated user's recent orders.</doc>
        <request />
        <response status="200">
          <doc title="200" xml:lang="en">List of previous orders</doc>
          <representation element="schemas:getOrderHistory200_Response0" mediaType="application/json" />
        </response>
        <response status="401">
          <doc title="401" xml:lang="en">Unauthorized</doc>
          <representation element="schemas:getOrderHistory401_Response0" mediaType="application/json" />
        </response>
        <response status="500">
          <doc title="500" xml:lang="en">Server error</doc>
          <representation element="schemas:getOrderHistory500_Response0" mediaType="application/json" />
        </response>
      </method>
    </resource>
  </resources>
</application>